/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
$font-title-en: "Poppins", sans-serif;
$font-content: "Noto Sans KR", sans-serif;

/* Color */
$point-color: #e50000;
$border-color: #e0e0e0;

@mixin black-bg-content {
  color: #fff;
  background-color: #000;
}
@mixin white-bg-content {
  color: #000;
  background-color: #fff;
}
@mixin gray-bg-content {
  color: #000;
  background-color: #f9f9f9;
}

@mixin btn-default {
  display: inline-block;
  width: 100%;
  padding: 1.3rem 5rem;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 0;
  &:hover {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }
}
@mixin btn-white {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}
@mixin btn-white-hover {
  border: 1px solid $point-color;
  background-color: $point-color;
  color: #fff;
}
@mixin btn-point {
  border: 1px solid $point-color;
  background-color: $point-color;
  color: #fff;
}

/* Size */
$tablet-size: 768px;
$large-tablet-size: 1024px;
$desktop-size: 1280px;
$wide-desktop-size: 1440px;
