@charset "UTF-8";
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* Color */
/* Size */
* {
  letter-spacing: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: keep-all;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.285;
  color: #000;
  background-color: #fff;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.res-inner {
  position: relative;
  margin: 0 auto;
  padding: 0 2rem;
}

/* input & selectbox & textarea
========================================================================== */
input[type=text],
input[type=password],
input[type=submit],
input[type=search],
input[type=tel],
input[type=email],
html input[type=button],
input[type=reset] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  outline: 0;
}

textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

input {
  width: 100%;
  padding: 1rem 0;
  border-width: 0 0 2px 0;
  border-color: #e0e0e0;
  border-style: solid;
  font-size: 1.6rem;
}
input ::placeholder {
  font-weight: 300;
}

.input__style:focus, .input__style:focus-visible {
  outline: 0;
  border-width: 0 0 2px 0;
  border-color: #000;
}

select::-ms-expand {
  display: none;
}

select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 1rem 0;
  background: url(../images/icon/icon_arrow_white.png) top 50% right 1rem no-repeat;
  background-size: 16px 16px;
  border-width: 0 0 2px 0;
  border-color: #e0e0e0;
  border-radius: 0;
  font-size: 1.6rem;
}

textarea {
  padding: 1.4rem;
  width: 100%;
  border-color: #e0e0e0;
  resize: none;
  font-family: "Noto Sans KR", sans-serif;
}
textarea::placeholder {
  font-weight: 400;
}

.textarea__style:focus, .textarea__style:focus-visible {
  outline: 0;
  border-width: 0 0 2px 0;
  border-color: #000;
}

::placeholder {
  color: #bbb;
  font-size: 1.4rem;
  font-weight: 300;
}

/* slide
========================================================================== */
.slide {
  position: relative;
  margin-right: -2rem;
  padding-right: 2rem;
}
.slide__top {
  display: none;
}
.slide__item {
  width: 90%;
}
.slide__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  min-height: 25rem;
  max-height: 40rem;
}
.slide__text-box {
  padding: 1.4rem 0;
  text-align: left;
}
.slide__title {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
}
.slide__content {
  font-size: 1.6rem;
  color: #333;
}
.slide__content--sub {
  margin-top: 1.4rem;
  font-size: 1.4rem;
  color: #595959;
}
.slide__scrollbar {
  height: 0.4rem;
  margin-top: 2rem;
}
.slide__scrollbar .swiper-scrollbar-drag {
  background: #e50000;
}

.swiper-button-disabled {
  visibility: hidden;
}

/* Accordion menu
========================================================================== */
.accordion__item {
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}
.accordion__item.active .accordion__top::after {
  transform: rotate(-180deg);
}
.accordion__item.active .accordion__body {
  padding: 0 6rem 2rem 2rem;
  height: auto;
  opacity: 0.7;
  transition: opacity 0.3s cubic-bezier(0, 0.18, 0.58, 0.4);
}
.accordion__top {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem 6rem 2rem 2rem;
  font-size: 1.6rem;
  text-align: left;
  cursor: pointer;
}
.accordion__top::after {
  position: absolute;
  top: 50%;
  margin-top: -0.9rem;
  right: 2rem;
  content: "";
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  background: url(../images/icon/icon_arrow_red.png) no-repeat;
  background-size: 100%;
  transition: transform 0.2s linear;
}
.accordion__body {
  height: 0;
  overflow: hidden;
  font-size: 1.6rem;
  text-align: left;
  opacity: 0;
}

/* LOGO
========================================================================== */
.logo {
  display: inline-block;
}
.logo__link {
  display: flex;
  align-items: center;
}
.logo__icon {
  width: 3rem;
  height: 3rem;
}
.logo__text {
  display: block;
  margin-left: 0.6rem;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
}

/* HEADER
========================================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.4rem 0;
  background: #000;
  z-index: 2;
}
.header.scrolled {
  padding: 1rem 0;
  transition: all 0.2s ease-out 0s;
}
.header.scrolled .header__gnb {
  top: 5rem;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header__logo {
  font-size: 0;
}
.header__gnb {
  position: fixed;
  top: 5.8rem;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  display: none;
}

.gnb {
  height: 29.1rem;
  background-color: #000;
  color: #fff;
}
.gnb__btn img {
  width: 100%;
  height: 100%;
}
.gnb--open {
  display: block;
}
.gnb__open-btn {
  width: 1.7rem;
  height: 1.7rem;
}
.gnb__close-btn {
  display: none;
  width: 1.4rem;
  height: 1.4rem;
}
.gnb__item.active {
  background-color: #e50000;
}
.gnb__link {
  display: block;
  padding: 1.4rem 2rem;
}

/* Main Visual
========================================================================== */
.main-visual {
  position: relative;
  padding: 5.7rem 0 2rem 0;
  height: 48rem;
  background-color: #000;
  text-align: left;
  color: #fff;
  background-image: url("../images/space_bg.jpg");
  background-size: cover;
}
.main-visual__title {
  position: absolute;
  top: 50%;
  margin-top: -6.1rem;
  left: 2rem;
  font-family: "Poppins", sans-serif;
  animation: fadeInDown 2s;
}
.main-visual__title--main {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.main-visual__title--sub {
  font-size: 2.2rem;
  font-weight: 300;
}
.main-visual .res-inner {
  position: static;
}

/* Reserve
========================================================================== */
.reserve__section {
  padding: 2rem 0;
  color: #fff;
  background-color: #000;
  text-align: center;
}
.reserve__row {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.reserve__item {
  width: 48%;
  margin-bottom: 1.4rem;
}
.reserve__title {
  font-size: 1.6rem;
  font-weight: 300;
  display: block;
}
.reserve__input, .reserve__select {
  margin-top: 0.4rem;
  color: #fff;
  background-color: #000;
  font-size: 1.8rem;
  height: 4.3rem;
  cursor: pointer;
}
.reserve__btn {
  display: inline-block;
  width: 100%;
  padding: 1.3rem 5rem;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 0;
  border: 1px solid #e50000;
  background-color: #e50000;
  color: #fff;
  margin-top: 1.6rem;
}
.reserve__btn:hover {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

/* Section
========================================================================== */
.section {
  position: relative;
  padding: 6rem 0;
  overflow: hidden;
  text-align: center;
}
.section__slide {
  position: relative;
}
.section__slide .skip-navigation {
  right: 2rem;
}
.section__title-wrapper {
  margin-bottom: 3rem;
}
.section__title {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.6;
}
.section__btn {
  display: inline-block;
  width: 100%;
  padding: 1.3rem 5rem;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 0;
  border: 1px solid #e50000;
  background-color: #e50000;
  color: #fff;
}
.section__btn:hover {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

/* Planet
========================================================================== */
.planet__section {
  color: #000;
  background-color: #fff;
}
.planet__section .slide__title {
  font-size: 2.6rem;
}
.planet__top {
  display: none;
}

/* Rank
========================================================================== */
.rank__section {
  color: #fff;
  background-color: #000;
}
.rank__top {
  margin-bottom: 2rem;
}
.rank__tab {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rank__tab-item {
  padding: 1rem 0;
  margin: 0 1rem;
  font-size: 1.8rem;
  border-bottom: 3px solid transparent;
}
.rank__tab-item.active {
  display: inline-block;
  border-bottom-color: #e50000;
}
.rank__tab-content {
  display: none;
}
.rank__tab-content.active {
  display: block;
}
.rank__content {
  margin-top: -10rem;
  padding-top: 10rem;
}
.rank__list {
  padding: 1rem 0;
}
.rank__link {
  position: relative;
  display: flex;
}
.rank__img-wrapper {
  position: relative;
  width: 8rem;
  min-width: 8rem;
  height: 8rem;
}
.rank__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid #ffffff;
}
.rank__number {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 1.4rem;
  background-color: #e50000;
  color: #fff;
}
.rank__info-wrapper {
  margin-left: 2rem;
  text-align: left;
}
.rank__name {
  font-size: 1.8rem;
  font-weight: 700;
}
.rank__info {
  font-size: 1.6rem;
  margin-top: 0.4rem;
  color: #eee;
}
.rank__date {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #595959;
}

/* Faq
========================================================================== */
.faq__section {
  color: #000;
  background-color: #f9f9f9;
}

/* News
========================================================================== */
.news__section {
  color: #000;
  background-color: #fff;
}
.news__section .slide__img {
  min-height: 20rem;
}
.news__section .slide__text-box {
  padding: 1.4rem 2rem 2rem 2rem;
  border: 1px solid #eaeaea;
  background: #fff;
}
.news__section .slide__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Contact
========================================================================== */
.contact__section {
  color: #000;
  background-color: #f9f9f9;
}
.contact__form-wrapper {
  margin: 0 auto;
  padding: 3rem 2rem;
  box-shadow: 0px 2px 5px 1px rgba(128, 128, 128, 0.22);
  border-radius: 1rem;
  background: #fff;
}
.contact__form {
  margin-bottom: 3rem;
  text-align: left;
}
.contact__label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.contact__input {
  height: 4.2rem;
  font-size: 1.4rem;
}
.contact__textarea {
  padding: 1.4rem 0;
  border-width: 0 0 2px 0;
  height: 12rem;
}

.map__section {
  width: 100%;
  height: 35rem;
}

/* Footer
========================================================================== */
.footer {
  position: relative;
  padding: 3rem 0 4rem 0;
  color: #fff;
  background-color: #000;
}
.footer__logo {
  margin-bottom: 2.4rem;
  opacity: 0.6;
}
.footer__info {
  margin-bottom: 3.4rem;
}
.footer__column {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.footer__title {
  margin-bottom: 1.6rem;
  font-weight: 500;
  color: #ccc;
}
.footer__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer__item {
  padding-right: 2rem;
  padding-bottom: 1rem;
  color: #bbb;
  font-size: 1.4rem;
}
.footer__item:last-child {
  padding-right: 0;
}
.footer__copyright {
  font-size: 1.2rem;
  color: #aaa;
}
.footer__social {
  opacity: 0.7;
  margin-bottom: 1.6rem;
}
.footer__social .social__list {
  display: flex;
  align-items: center;
}
.footer__social .social__item {
  margin-right: 2rem;
}
.footer__social .social__item .github-icon {
  width: 3rem;
  height: 3rem;
}
.footer__social .social__item .notion-icon {
  width: 3.2rem;
  height: 3.2rem;
}
.footer__social .social__item .tstory-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.top-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
  transition: 0.2s ease-in-out;
}
.top-btn a {
  display: inline-block;
  font-size: 3.6rem;
  color: rgba(144, 144, 144, 0.5);
}
.top-btn.hidden {
  right: -100%;
}

/* 웹접근성
========================================================================== */
/* 스크린리더에서만 읽혀지도록 숨김처리 */
.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* 접근성 네비게이션 */
.skip-navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.skip-navigation__btn {
  position: absolute;
  width: auto;
  padding: 0 1rem;
  line-height: 30px;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
}
.skip-navigation__btn--prev {
  left: -100%;
}
.skip-navigation__btn--prev:focus, .skip-navigation__btn--prev:active {
  left: 0;
}
.skip-navigation__btn--next {
  right: -100%;
}
.skip-navigation__btn--next:focus, .skip-navigation__btn--next:active {
  right: 0;
}

/* 애니메이션 효과
========================================================================== */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 기타
========================================================================== */
.datepicker-picker {
  color: #000;
  font-weight: 500;
}

.datepicker-cell.next:not(.disabled),
.datepicker-cell.prev:not(.disabled),
.datepicker-cell.disabled {
  color: #595959;
}

.datepicker-main {
  padding: 4px;
}

.datepicker-controls .button {
  font-size: 1.6rem;
}

.datepicker-grid {
  width: 22rem;
  height: 17rem;
}

.datepicker-view .dow {
  font-size: 1.4rem;
  height: 2rem;
}

.datepicker-cell,
.datepicker-view .week {
  font-size: 1.4rem;
}

/* Media query
========================================================================== */
/* Tablet */
/* Large Tablet */
@media (min-width: 1024px) {
  .res-inner {
    max-width: 1280px;
    height: 100%;
  }
  /* HEADER */
  .header {
    padding: 1rem 0;
  }
  .header.scrolled {
    padding: 0 2rem;
  }
  .header.scrolled .header__gnb {
    top: 0;
  }
  .header.scrolled .gnb__item.active::after {
    display: inline-block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 6rem;
    height: 0.4rem;
    background: #e50000;
  }
  .header .res-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__inner {
    display: block;
    margin: 0;
    padding: 0;
  }
  .header__gnb {
    position: relative;
    display: block;
    background-color: transparent;
    top: 0;
  }
  .gnb {
    height: auto;
  }
  .gnb__list {
    display: flex;
  }
  .gnb__link {
    padding: 1.4rem 2.6rem;
    font-weight: 400;
    font-size: 1.8rem;
  }
  .gnb__link:hover {
    color: #ccc;
  }
  .gnb__btn {
    display: none !important;
  }
  .gnb__item.active {
    position: relative;
    background: transparent;
  }
  /* Main Visual */
  .main-visual {
    height: 70rem;
  }
  .main-visual__title {
    margin-top: -8.9rem;
  }
  /* Reserve */
  .reserve__section {
    padding: 2rem 0;
  }
  .reserve__row-wrapper {
    display: flex;
    margin-right: 16rem;
  }
  .reserve__row {
    width: 50%;
  }
  .reserve__item {
    width: 50%;
    margin-bottom: 0;
    margin-right: 1.2rem;
    display: flex;
    align-items: baseline;
  }
  .reserve__title {
    margin-right: 1.6rem;
    color: #ccc;
  }
  .reserve__input, .reserve__select {
    font-size: 1.6rem;
    margin-top: 0;
  }
  .reserve__btn {
    position: absolute;
    top: 0;
    right: 2rem;
    padding: 1rem;
    margin-top: 0;
    width: 15rem;
    height: 4.3rem;
  }
  /* Section */
  .section {
    padding: 14rem 0;
  }
  .section__title {
    margin-bottom: 5rem;
    font-size: 6rem;
    letter-spacing: -0.2rem;
    line-height: 6rem;
  }
  .section__btn {
    width: auto;
  }
  /* Slide */
  .slide__top {
    display: block;
  }
  .slide__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .slide__navigation-btn {
    width: 6rem;
    cursor: pointer;
  }
  .slide__navigation-btn--rotate {
    transform: rotate(-180deg);
  }
  .slide__navigation-btn img {
    width: 100%;
  }
  /* Planet */
  .planet__section .slide {
    padding: 0;
    margin: 0;
  }
  .planet__section .slide__img {
    width: 50%;
    height: 45rem;
    max-height: none;
    box-shadow: 15px 15px 0px 0px #e9e9e9;
  }
  .planet__section .slide__item {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .planet__section .slide__item:last-child {
    margin-right: 0;
  }
  .planet__section .slide__text-box {
    padding: 5rem;
  }
  .planet__section .slide__title {
    margin-bottom: 2rem;
    font-size: 3.6rem;
  }
  .planet__section .slide__title::after {
    display: block;
    content: "";
    background-color: #e50000;
    width: 6rem;
    height: 4px;
    margin-top: 2rem;
  }
  .planet__section .slide__content {
    padding: 0;
    font-size: 1.8rem;
  }
  .planet__section .slide__content--sub {
    font-size: 1.8rem;
    margin-top: 6rem;
  }
  .planet__section .slide__scrollbar {
    margin-top: 6rem;
  }
  .skip-navigation {
    display: none;
  }
  /* Rank */
  .rank__top {
    margin-bottom: 5rem;
  }
  .rank__tab-item {
    font-size: 2rem;
    margin: 0 3rem;
  }
  .rank__list-wrapper {
    display: flex;
    margin: 0 -1rem;
  }
  .rank__list {
    width: 20%;
    margin: 0 1rem;
  }
  .rank__link {
    flex-direction: column;
  }
  .rank__img-wrapper {
    width: 100%;
    height: 21rem;
  }
  .rank__img {
    border: 5px solid #fff;
  }
  .rank__info-wrapper {
    margin: 2rem 0 0 0;
  }
  .rank__info {
    margin-top: 1rem;
  }
  /* Accordion menu */
  .accordion__top {
    padding: 3rem 6rem 3rem 3rem;
    font-size: 2rem;
  }
  .accordion__body {
    font-size: 1.8rem;
  }
  .accordion__item.active .accordion__body {
    padding-left: 3.2rem;
  }
  /* News */
  .news__section .slide {
    margin-right: 0;
    padding-right: 0;
  }
  .news__section .slide__item:last-child {
    margin-right: 0 !important;
  }
  .news__section .slide__img {
    min-height: 30rem;
  }
  .news__section .slide__title {
    font-size: 1.8rem;
  }
  .news__section .slide__content--sub {
    margin-top: 3rem;
  }
  .news__section .slide__scrollbar {
    margin-top: 3rem;
  }
  /* Contact */
  .contact__form-wrapper {
    padding: 5rem 5rem;
  }
  .contact__form {
    margin-bottom: 4rem;
  }
  .contact__label {
    margin-bottom: 1.4rem;
    font-size: 1.6rem;
  }
  .contact__textarea {
    height: 19rem;
  }
  .map__section {
    height: 60rem;
  }
  /* Footer */
  .footer__content {
    display: flex;
  }
  .footer__info-wrapper {
    margin-left: 14rem;
  }
  .footer__info {
    display: flex;
    width: 100%;
  }
  .footer__column {
    margin-bottom: 2rem;
    width: 35rem;
  }
  .footer__item a:hover {
    text-decoration: underline;
  }
  .footer__social {
    margin-bottom: 2.6rem;
  }
  .footer__social__item .github-icon {
    width: 2.6rem;
    height: 2.6rem;
  }
  .footer__social__item .notion-icon {
    width: 2.8rem;
    height: 2.8rem;
  }
  .footer__social__item .tstory-icon {
    width: 2.8rem;
    height: 2.8rem;
  }
  .top-btn {
    bottom: 6rem;
    right: 4rem;
  }
  .top-btn a {
    font-size: 4.6rem;
  }
}
/* Desctop */
@media (min-width: 1280px) {
  /* Main Visual */
  .main-visual {
    height: 75rem;
  }
  .main-visual .res-inner {
    position: relative;
  }
  .main-visual__title--main {
    font-size: 6rem;
  }
  .main-visual__title--sub {
    font-size: 3.2rem;
  }
  /* Reserve */
  .reserve__section {
    padding: 3rem 0 4rem 0;
  }
  .reserve__item {
    display: block;
    margin-right: 3.2rem;
  }
  .reserve__title {
    margin: 0 0 0.8rem 0;
  }
  .reserve__btn {
    top: 1.5rem;
  }
  /* Rank */
  .rank__list-wrapper {
    margin: 0 -1.6rem;
  }
  .rank__list {
    margin: 0 1.6rem;
  }
  .rank__img-wrapper {
    height: 24rem;
  }
}
/* Wide Desctop */
@media (min-width: 1440px) {
  .main-visual {
    background-position-y: -100px;
  }
}