@charset "UTF-8";
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* Color */
* {
  letter-spacing: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: keep-all;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.285;
  color: #000;
  background-color: #fff;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
}

button {
  border: 0;
  background-color: transparent;
}

/* input & selectbox
========================================================================== */
input {
  width: 100%;
  padding: 1rem 0;
  border-width: 0 0 1px 0;
  border-color: #e0e0e0;
  font-size: 1.6rem;
}

select::-ms-expand {
  display: none;
}

select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 1rem 0;
  background: url(../images/icon/icon_arrow_white.png) top 50% right 1rem no-repeat;
  background-size: 13px 13px;
  border-width: 0 0 1px 0;
  border-color: #e0e0e0;
  border-radius: 0;
  font-size: 1.6rem;
}

/* slide
========================================================================== */
.slide {
  position: relative;
}
.slide__item {
  width: 90%;
}
.slide__item:last-child {
  padding-right: 2rem;
}
.slide__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  min-height: 30rem;
  max-height: 40rem;
}
.slide__text-box {
  padding: 2rem 0;
  text-align: left;
}
.slide__title {
  margin-bottom: 1rem;
  font-size: 2.6rem;
  font-weight: 500;
}
.slide__content {
  font-size: 1.6rem;
  color: #333;
}
.slide__content--sub {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #999;
}
.slide__scrollbar {
  height: 0.5rem;
  margin: 2rem 2rem 0 0;
}
.slide__scrollbar .swiper-scrollbar-drag {
  background: #0833b5;
}

/* LOGO
========================================================================== */
.logo__link {
  display: flex;
  align-items: center;
}
.logo__icon {
  width: 3rem;
  height: 3rem;
}
.logo__text {
  display: block;
  margin-left: 0.6rem;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
}

/* HEADER
========================================================================== */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  z-index: 2;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 0 auto;
}
.header__gnb {
  display: none;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -100%;
  padding: 3rem;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #f6f7f9;
  z-index: 100;
  transition: all 0.2s ease-in-out;
}
.side-menu--open {
  left: 0;
  transition: left 0.2s ease-in-out;
}
.side-menu__btn {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
}
.side-menu__btn-img {
  width: 100%;
  height: 100%;
}

/* Main Visual
========================================================================== */
.main-visual {
  position: relative;
  padding: 5.7rem 2rem 2rem 2rem;
  height: 48rem;
  background-color: #000;
  text-align: left;
  color: #fff;
  background-image: url("../images/space_bg_1.jpg");
  background-size: cover;
}
.main-visual__title {
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  left: 2rem;
  font-family: "Poppins", sans-serif;
}
.main-visual__title--main {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.main-visual__title--sub {
  font-size: 2.2rem;
  font-weight: 300;
}

/* Reserve
========================================================================== */
.reserve__section {
  padding: 1.4rem 2rem;
  color: #fff;
  background-color: #000;
  text-align: center;
}
.reserve__row {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.reserve__item {
  width: 48%;
  margin-bottom: 1.4rem;
}
.reserve__title {
  font-size: 1.6rem;
  font-weight: 300;
  display: block;
}
.reserve__input {
  margin-top: 0.4rem;
  background: #000;
  color: #fff;
  font-size: 1.8rem;
}
.reserve__select {
  margin-top: 0.4rem;
  color: #fff;
  font-size: 1.8rem;
}
.reserve__btn {
  display: inline-block;
  width: 100%;
  padding: 1.3rem 5rem;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 0;
  border: 1px solid #0833b5;
  background-color: #0833b5;
  color: #fff;
  margin-top: 1.6rem;
}
.reserve__btn:hover {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

/* Section
========================================================================== */
.section {
  position: relative;
  padding: 7rem 0;
  overflow: hidden;
  text-align: center;
}
.section__slide {
  position: relative;
  margin-left: 2rem;
}
.section__slide .skip-navigation {
  right: 2rem;
}
.section__title-wrapper {
  margin-bottom: 4rem;
}
.section__title {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
}

/* Planet
========================================================================== */
.planet__section {
  color: #000;
  background-color: #fff;
}

/* Media query
========================================================================== */
/* Tablet */
/* Large Tablet */
/* Desctop */
/* 웹접근성
========================================================================== */
/* 스크린리더에서만 읽혀지도록 숨김처리 */
.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* 접근성 네비게이션 */
.skip-navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.skip-navigation__btn {
  position: absolute;
  width: auto;
  padding: 0 1rem;
  line-height: 30px;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
}
.skip-navigation__btn--prev {
  left: -100%;
}
.skip-navigation__btn--prev:focus, .skip-navigation__btn--prev:active {
  left: 0;
}
.skip-navigation__btn--next {
  right: -100%;
}
.skip-navigation__btn--next:focus, .skip-navigation__btn--next:active {
  right: 0;
}

/* 기타
========================================================================== */
.datepicker-picker {
  color: #333;
}